h5{
  background-color: #1dcaff;
}
body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
  
  .box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 2vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }
  
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }
  
  label:hover::before .text-checkbox {
    background: #70F570;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }
  body {
    background-image: linear-gradient(135deg, #ef5fa0 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    
  }
  
  .box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #090b6f85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 2vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .box-form .right button:hover{
    transition: 0.7s;
    background-image: linear-gradient(135deg, #ef5fa0 10%, #1904E5 100%);
    scale: 1.1;
  }

  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }
  
  label:hover::before .text-checkbox {
    background: #70F570;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }
  
  .sel{
    text-decoration: none;
    display: grid;
    position: absolute;
  width: 12%;
  font-family: 'Ek Mukta';
  text-transform: uppercase;
  font-weight: 60;
  letter-spacing: 4px;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #FAFCFD;
  border: 2px solid transparent;
  transition: .3s ease-in-out;
  }
  .lg{
    font-size: medium;
    text-decoration: none;
    font-style: oblique;
    
  }
  .GN{
    text-align: left;
    color: rgb(0, 0, 0);
  }
  


  
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
  width: auto;
    
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    /*background: url("./images/background.png");*/
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    background-color: linear-gradient(135deg, #ef5fa0 10%, #1904E5 100%);
    width: 60%;
    padding-right: 140px;
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 70px;
    /* background-color: antiquewhite; */
}

header ul li a{
    font-size: 18px;
    padding: 8px 20px;
    margin: 0 6px;
    color: white;
}
header ul li a:hover{
    color:#f2d280;
}

header .logo h1{
font-size: 45px;
color: #e8c573;
}

header .logo h1 span{
font-size: 25px;
color: #f2d280;
}

header .logo img{
width: 60px;
margin-right: -7px;
}


.main{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
}

.main-one{
width: 60%;

/* background-color: pink; */

height: 100%;
padding-left: 100px;
padding-top: 220px;
}
.main-two{
width: 40%;
height: 100%;
}

.main-one .title{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-style: italic;
font-size: 34px;
color: rgba(255, 255, 255, 0.829);
letter-spacing: 3px;
text-transform: uppercase;
}
.main-one h1{
font-family: 'Roboto', sans-serif;
font-weight:900;
font-style: italic;
font-size: 90px;
color: #f2d280;
}

.main-one .subtitle{
font-family: 'Courier New', Courier, monospace;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 600;
color: #ffd778;
font-size: 24px;
}
.main-one button{
font-weight: 500;
border: 1px solid #f2d280;
background: transparent;
color: whitesmoke;
font-size: 24px;
font-family:'Roboto', sans-serif;
padding: 7px 25px;
border-radius: 25px;
margin-top: 50px;
cursor: pointer;
}
.main-one button:hover{
background: linear-gradient(#e5d6b2 , #e8c573 );
border: 3px solid #544115;
color: black;
}
.main-one .underline{
height: 1px;
width: 6%;
margin-top: 50px;
background-color: #e8c573;
}
.main-one p{
color: rgba(245, 245, 245, 0.803);
width: 80%;
margin-top: 10px;
letter-spacing: 1px;
font-family:Arial, Helvetica, sans-serif;
font-size: 17px;
}

.subpics{
position: absolute;
top: 50%;
left: 60%;
transform: translate(-50%, -50%);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.subpics img{
width: 80px;
cursor: pointer;
margin: 18px 0;
}

.main-two img{
width: 550px;
transition: all 0.5s ease;
}
.subpics img:hover{
transform: translateY(-5px);
}

.BY{
  font-weight: 500;
border: 1px solid #f2d280;
background: transparent;
color: whitesmoke;
font-size: 24px;
font-family:'Roboto', sans-serif;
padding: 7px 25px;
border-radius: 25px;
margin-top: 50px;
cursor: pointer;
}

.sart:hover{
  
  background-color: greenyellow;
}

.list{
  display: none;
  position: absolute;
  top: 80px;
  width: 100px;
  padding: 10px;
  text-align: center;
  background-color: white;
}


li:hover .list{
  display: block;
}